@charset "UTF-8";
.browserupgrade {
  margin: 0.2em 0;
  background: #ffecb3;
  color: #333;
  padding: 0.2em 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.4; }

p {
  font-size: 1.2em; }

body {
  background-color: #b91e21;
  position: relative;
  overflow-x: hidden; }

#site {
  background: #fff; }
  @media (min-width: 768px) {
    #site {
      background: #fff url("/images/white-bg.jpg"); } }
  #site h2 {
    text-align: center; }
    @media (min-width: 768px) {
      #site h2 {
        text-align: left; } }

section, footer {
  padding: 1em 0; }
  @media (min-width: 768px) {
    section, footer {
      padding: 3em 0; } }
  section .container > h2, footer .container > h2 {
    margin-top: 0; }

section + hr {
  display: block;
  width: 5em;
  border-bottom: 3px solid #eee;
  margin: 0 auto; }
  @media (min-width: 768px) {
    section + hr {
      display: none; } }

h1, h2, a, .icon-bar {
  color: #D1272E; }

a:focus {
  outline: none; }

a:hover {
  color: #EC9232; }

h3 {
  color: #222; }

h4 {
  color: #999; }

footer {
  color: #9a9a9a;
  min-height: 180px;
  background: #1a1a1a; }
  footer .container {
    background: url("/images/footer-logo.png") no-repeat 15px 0;
    background-size: 12em; }
  footer a {
    color: #c5c5c5; }
  footer .copyleft {
    font-size: 0.8em;
    text-align: right;
    margin-top: 10em; }

.navbar {
  background: #fff;
  border-radius: 0;
  margin-bottom: 0;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.navbar-brand {
  opacity: 0;
  padding-top: 10px; }
  .navbar-brand img {
    max-height: 1.9em; }

.btn-action {
  opacity: 0; }

.affix {
  width: 100%; }
  .affix #action-nav {
    display: inline-block; }
  .affix .navbar-brand, .affix .btn-action {
    opacity: 1;
    transition: opacity 0.5s ease 0.1s; }

.icon-bar {
  background-color: currentColor; }

.navbar-toggle {
  margin-right: 0; }

#main-navbar {
  max-height: 56px; }

#main-nav {
  display: inline-block;
  font-size: 1.2em; }
  #main-nav li, #main-nav li a {
    color: #00adc5; }
  #main-nav li.active {
    box-shadow: 0 -5px 0px currentColor inset; }

.btn-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eb6629+23,ff3b0f+97 */
  background: linear-gradient(to bottom, #eb6629 23%, #ff3b0f 97%);
  border: none;
  color: #fff !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #c42f0c !important; }

.btn-alternative {
  background-color: #333;
  border: none;
  color: #fff !important; }
  .btn-alternative:hover, .btn-alternative:focus, .btn-alternative:active {
    background-color: #666; }

.fa {
  font-size: 1.2em;
  margin-left: 0.33em; }

.text-block {
  padding: 0 2.5em; }
  .text-block h3 {
    font-size: 1.33em;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }

.img-responsive-caption {
  background: #ffffff;
  padding: 1em;
  display: block;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee; }

#landing {
  padding: 0; }
  #landing, #landing h1, #landing p {
    color: #fff;
    text-align: center; }
  #landing .highlights {
    font-weight: 200;
    font-size: 1.6em;
    margin-bottom: 1.8em;
    line-height: 1.4; }
    #landing .highlights em, #landing .highlights time {
      color: rgba(255, 255, 255, 0.5);
      font-style: normal; }

.event-header, .event-details {
  overflow: hidden; }

.event-header {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.02) 2%, rgba(0, 0, 0, 0.8) 100%), url("/images/header-photo-sm.jpg") center 67%;
  background-size: auto, cover;
  /* min-height: 450px; */
  margin-bottom: -1em; }
  .event-header h1 {
    margin-top: 100px;
    margin-bottom: 1em; }

.event-details {
  background-color: #D92C30;
  padding: 2.5em 0 2em; }

#logo-main {
  max-width: 420px; }

#logo-flame {
  max-width: 155px; }

.call-for-action {
  border: 1px solid #1BAACB;
  margin: 2em 0;
  padding: 1em 1.5em; }
  .call-for-action a {
    color: #1897b4; }
  .call-for-action h3 {
    color: #1BAACB;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0.25em; }

#transport {
  position: relative;
  background: #fff;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8); }
  #transport .overlay-content {
    position: relative;
    z-index: 100; }
  #transport .map-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.45; }
  #transport .schedule-table-xs {
    background-color: rgba(254, 254, 254, 0.25); }
    #transport .schedule-table-xs > tbody > tr:nth-of-type(odd) {
      background-color: rgba(249, 249, 249, 0.4); }
  #transport ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #transport ul li:before {
      content: "\2794   ";
      font-size: 1.1em;
      color: #CF1B28; }
  #transport h4 {
    color: #FFA208;
    font-weight: 500;
    margin: 0.4em 0; }
  #transport h5 {
    text-decoration: underline; }
  #transport mark {
    padding: 0 0.2em;
    display: inline-block;
    font-weight: bold;
    background-color: #FFD600; }

#schedule {
  font-size: 1.2em; }
  #schedule .table {
    background: #fff;
    border: 1px solid #eee;
    color: #000; }
    #schedule .table th, #schedule .table td {
      border: 0;
      padding: 0.5em 1em; }
  #schedule .schedule-time {
    width: 7em; }
  #schedule .table time {
    line-height: 2;
    white-space: nowrap; }
  #schedule h4 {
    font-weight: normal;
    color: #999;
    font-weight: bold;
    margin: 0.33em 0 0.5em;
    font-size: 1em; }
  #schedule p {
    color: #555;
    font-size: 1em; }

#sponsors .card {
  background: #fff;
  box-shadow: 1px 1px rgba(17, 17, 17, 0.1);
  padding: 0.8em 1em 1em;
  margin-bottom: 2em;
  border: 1px solid #f7f7f7; }
  #sponsors .card.caller {
    background: gold;
    box-shadow: none;
    border: none;
    color: #333;
    font-weight: 600;
    padding-left: 10px; }

#sponsors h3 {
  font-size: 1em;
  margin-top: 0.2em; }

#sponsors .card-content {
  padding: 1em 0; }

#sponsors .sponsor {
  margin-right: 1.8em; }
  #sponsors .sponsor:last-child {
    margin-right: 0; }

#sponsors .sponsor-logo {
  width: 180px; }

#sponsors .fa-lightbulb-o {
  color: #F9A600;
  font-weight: 400;
  font-size: 1.6em;
  vertical-align: middle; }

#organizers .vcard {
  overflow: hidden;
  margin-bottom: 1em; }

#organizers .avatar {
  max-width: 88px;
  margin-right: 3em; }

#organizers .fn {
  display: block;
  font-size: 1.4em;
  margin-top: 0.8em; }

#organizers .nickname:before {
  content: "@"; }

@media (max-width: 540px) {
  .vcard {
    width: 100%; }
  #transport .maplet.gmap iframe {
    width: calc(100% + 30px) !important;
    margin: 0 0 0 -15px; }
  #transport .maplet.street-view {
    display: none; } }

@media (max-width: 768px) {
  .col-figure {
    text-align: right; }
    .col-figure img {
      max-width: calc(100% + 15px * 2);
      margin-left: -15px; }
  .img-responsive-caption {
    opacity: 0.8;
    display: inline-block;
    margin-right: -18px;
    -webkit-transform: translateY(-48px);
            transform: translateY(-48px); }
  .col-content {
    margin-top: -1em; }
  #event-info img {
    margin-bottom: 1.8em; }
  #event-info .row {
    position: relative; }
  #event-info .text-block {
    position: absolute;
    top: -0.8em;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.8em;
    margin: 0; }
  #event-info .date {
    font-weight: 500; }
  #main-navbar {
    background: transparent; }
    #main-navbar .navbar-header {
      opacity: 0; }
  .navbar.navbar-fixed-top {
    z-index: 10000; }
    .navbar.navbar-fixed-top #action-nav {
      display: block; }
    .navbar.navbar-fixed-top .navbar-brand, .navbar.navbar-fixed-top .btn-action {
      opacity: 1; }
    .navbar.navbar-fixed-top .navbar-toggle:focus {
      box-shadow: 0 0 5px #ffecb3; }
    .navbar.navbar-fixed-top .navbar-toggle:active {
      background: #f5f5f5; }
  #site {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease; }
    #site .navbar {
      position: fixed;
      top: 0;
      width: 100%; }
    #site .navbar-nav {
      margin: 0; }
      #site .navbar-nav li {
        padding-left: 2px; }
    #site .navbar-collapse {
      margin: 0; }
    #site #navbar-collapse {
      position: absolute;
      height: 100%;
      right: -282px;
      padding: 0 0 15px 0px;
      width: 280px; }
      #site #navbar-collapse ul {
        margin-top: 0;
        margin-bottom: 0; }
    #site #main-nav {
      width: 100%; }
    #site #navbar-collapse li > a:focus, #site #navbar-collapse li > a:hover, #site #navbar-collapse li > a:active {
      background-color: #fff; }
    #site #navbar-collapse li {
      border-bottom: 1px solid #fff; }
    #site #navbar-collapse a {
      color: #fff;
      padding: 15px; }
    #site #navbar-collapse a:hover {
      color: #D62B2F; }
    #site #nav-controls > li > a:focus, #site #nav-controls > li > a:hover, #site #nav-controls > li > a:active {
      background-color: transparent; }
    #site #action-nav {
      display: block; }
      #site #action-nav a {
        margin-top: 2px;
        margin-bottom: 2px; }
    #site:target {
      -webkit-transform: translateX(-280px);
              transform: translateX(-280px); } }

@media (max-width: 480px) {
  #logo-main {
    max-width: 100%; }
  #landing .highlights {
    margin: -0.5em auto 0.5em; }
    #landing .highlights .venue {
      letter-spacing: -.02em; }
  .event-header {
    -webkit-perspective: 1200px;
            perspective: 1200px;
    max-height: 280px; }
    .event-header h1 {
      -webkit-transform: translateZ(10px);
              transform: translateZ(10px); }
  #logo-flame {
    -webkit-transform: translateY(-100%) translateZ(-200px);
            transform: translateY(-100%) translateZ(-200px);
    opacity: 0.45; }
  #schedule h4:after {
    content: " \25BE   "; }
  #schedule .description {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    height: 0;
    opacity: 0; }
  #schedule td:hover .description, #schedule td:focus .description {
    height: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    transition: opacity 0.4s ease-out 0.4s, -webkit-transform 0.5s ease-out;
    transition: opacity 0.4s ease-out 0.4s, transform 0.5s ease-out; }
  #event-info .text-block {
    left: 0;
    width: 100%;
    bottom: 0; } }

@media (min-width: 768px) {
  .navbar-collapse {
    text-align: center; }
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-block; }
  .navbar-nav > li > a.btn {
    padding: 10px 12px;
    margin-top: 8px;
    margin-right: -10px; }
  .event-header {
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.02) 2%, rgba(0, 0, 0, 0.92) 100%), url("/images/header-photo-md.jpg"); }
  #main-navbar {
    background: #fff; }
    #main-navbar .navbar-header {
      opacity: 1; } }

@media (min-width: 1152px) {
  .event-header {
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.02) 2%, rgba(0, 0, 0, 0.85) 100%), url("/images/header-photo-lg.jpg"); } }

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-nav > li > a {
    padding-left: 0.4em;
    padding-right: 0.4em; } }
