h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.4; }

p {
  font-size: 1.2em; }

body {
  background-color: #b91e21;
  position: relative;
  overflow-x: hidden; }

#site {
  background: #fff; }
  @media (min-width: 768px) {
    #site {
      background: url(/images/white-bg.jpg); } }
  #site h2 {
    text-align: center; }
    @media (min-width: 768px) {
      #site h2 {
        text-align: left; } }

section, footer {
  padding: 1em 0; }
  @media (min-width: 768px) {
    section, footer {
      padding: 3em 0; } }

.section-hr {
  display: block;
  width: 5em;
  border-bottom: 3px solid #eee;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .section-hr {
      display: none; } }

h1, h2, a, .icon-bar {
  color: #D1272E; }

a:focus {
  outline: none; }

a:hover {
  color: #EC9232; }

h3 {
  color: #222; }

h4 {
  color: #999; }

footer {
  color: #9a9a9a;
  min-height: 180px;
  background: #1a1a1a; }
  footer .container {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/65989/BarcampLogoNavAlt.png) no-repeat 15px 0;
    background-size: 12em; }
  footer a {
    color: #c5c5c5; }
  footer .copyleft {
    font-size: 0.8em;
    text-align: right;
    margin-top: 10em; }

.navbar {
  background: #fff;
  border-radius: 0;
  margin-bottom: 0;
  top: 0;
  z-index: 999; }

.navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.navbar-brand {
  opacity: 0;
  padding-top: 10px; }
  .navbar-brand img {
    max-height: 1.9em; }

.btn-action {
  opacity: 0; }

.affix {
  width: 100%; }
  .affix .navbar-brand, .affix .btn-action {
    opacity: 1;
    transition: opacity 0.5s ease; }

.icon-bar {
  background-color: currentColor; }

.navbar-toggle {
  margin-right: 0; }

#main-nav {
  display: inline-block;
  font-size: 1.2em; }
  #main-nav li, #main-nav li a {
    color: #00adc5; }
  #main-nav li.active {
    box-shadow: 0 -5px 0px currentColor inset; }

.btn-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eb6629+23,ff3b0f+97 */
  background: linear-gradient(to bottom, #eb6629 23%, #ff3b0f 97%);
  border: none;
  color: #fff !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #c42f0c !important; }

.btn-alternative {
  background-color: #333;
  border: none;
  color: #fff !important; }
  .btn-alternative:hover, .btn-alternative:focus, .btn-alternative:active {
    background-color: #666; }

.fa {
  font-size: 1.2em;
  margin-left: 0.33em; }

.text-block {
  padding: 0 2.5em; }
  .text-block h3 {
    font-size: 1.33em;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }

.img-responsive-caption {
  background: #ffffff;
  padding: 1em;
  display: block;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee; }

#landing {
  padding: 0; }
  #landing, #landing h1, #landing h2, #landing p {
    color: #fff;
    text-align: center; }
  #landing h2 {
    font-weight: 200;
    font-size: 1.6em;
    margin-bottom: 1.8em;
    line-height: 1.4; }
    #landing h2 time {
      color: rgba(255, 255, 255, 0.5); }
  #landing .event-header {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.02) 2%, rgba(0, 0, 0, 0.8) 100%), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/65989/Barcamp2014Photo.jpg) center;
    background-size: auto, cover;
    /* min-height: 450px; */
    margin-bottom: -1em; }
    #landing .event-header h1 {
      margin-top: 100px;
      margin-bottom: 1em; }
  #landing .event-details {
    background-color: #D92C30;
    padding: 2.5em 0 2em; }

#logo-main {
  max-width: 420px; }

#logo-flame {
  max-width: 155px; }

.hack #call-for-action {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/65989/placeimg_960_540_tech_(1).jpg") no-repeat bottom;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }

.call-for-action {
  border: 1px solid #1BAACB;
  margin: 2em 0;
  padding: 1em 1.5em; }
  .call-for-action a {
    color: #1897b4; }
  .call-for-action h3 {
    color: #1BAACB;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0.25em; }

.hide-for-now {
  display: none !important; }

#transport {
  background: #1BAACB;
  min-height: 300px; }
  #transport h2 {
    color: #fff; }

#schedule {
  font-size: 1.2em; }
  #schedule .table {
    background: #fff;
    border: 1px solid #eee;
    color: #000; }
    #schedule .table th, #schedule .table td {
      border: 0;
      padding: 0.5em 1em; }
  #schedule .schedule-time {
    width: 7em; }
  #schedule .table time {
    line-height: 2;
    white-space: nowrap; }
  #schedule h4 {
    font-weight: normal;
    color: #999;
    font-weight: bold;
    margin: 0.33em 0 0.5em;
    font-size: 1em; }
  #schedule p {
    color: #555;
    font-size: 1em; }

#sponsors .card {
  background: #fff;
  box-shadow: 1px 1px rgba(17, 17, 17, 0.1);
  padding: 0.8em 1em 1em;
  margin-bottom: 2em; }
#sponsors h3 {
  font-size: 1em; }
#sponsors .card-content {
  padding: 1em 0; }
#sponsors .sponsor {
  margin-right: 1.8em; }
  #sponsors .sponsor:last-child {
    margin-right: 0; }

#organizers .vcard {
  overflow: hidden;
  margin-bottom: 1em; }
#organizers .avatar {
  max-width: 88px;
  margin-right: 3em; }
#organizers .fn {
  display: block;
  font-size: 1.4em;
  margin-top: 0.8em; }
#organizers .nickname:before {
  content: "@"; }

@media (max-width: 450px) {
  #logo-main {
    max-width: 100%; } }
@media (max-width: 768px) {
  .col-figure {
    text-align: right; }
    .col-figure img {
      max-width: calc(100% + 15px * 2);
      margin-left: -15px; }

  .img-responsive-caption {
    opacity: 0.8;
    display: inline-block;
    margin-right: -18px;
    transform: translateY(-48px); }

  .col-content {
    margin-top: -1em; }

  .compat #event-info .row {
    position: relative; }
  .compat #event-info .col-content {
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.8em; }

  #site {
    transform: translateX(0px);
    transition: transform 0.5s ease; }
    #site .navbar {
      position: fixed;
      top: 0;
      width: 100%; }
    #site .navbar-nav {
      margin: 0; }
      #site .navbar-nav li {
        padding-left: 2px; }
    #site .navbar-collapse {
      margin: 0; }
    #site #navbar-collapse {
      position: absolute;
      height: 100%;
      right: -280px;
      padding: 0 0 15px 0px;
      width: 280px; }
      #site #navbar-collapse ul {
        margin-top: 0;
        margin-bottom: 0; }
    #site #main-nav {
      width: 100%; }
    #site #navbar-collapse li > a:focus, #site #navbar-collapse li > a:hover, #site #navbar-collapse li > a:active {
      background-color: #fff; }
    #site #navbar-collapse li {
      border-bottom: 1px solid #fff; }
    #site #navbar-collapse a {
      color: #fff;
      padding: 15px; }
    #site #navbar-collapse a:hover {
      color: #D62B2F; }
    #site #nav-controls > li > a:focus, #site #nav-controls > li > a:hover, #site #nav-controls > li > a:active {
      background-color: transparent; }
    #site #action-nav {
      position: absolute;
      top: -50px;
      width: 100%; }
      #site #action-nav a {
        margin-top: -2px; }
    #site:target {
      transform: translateX(-280px); } }
@media (min-width: 768px) {
  .navbar-collapse {
    text-align: center; }

  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-block; }

  .navbar-nav > li > a.btn {
    padding: 10px 12px;
    margin-top: 8px;
    margin-right: -10px; } }

/*# sourceMappingURL=style.css.map */
